.navbar-default {
  background: #e5e0d3;
  margin-top: 5px;
  height: 140px;
  border: 2px solid #2a2c31;
}

.navbar-nav {
  text-align: right;
}

.header-bar {
  margin: 0px;
}

.logo {
  position: absolute;
  padding: 0px;
  width: 150px;
  margin-top: 5px;
}

.branches {
  float: right;
  margin-top: 40px;
  width: 100%;
  background: #878979;
  border: 1px solid #2a2c31;
  border-left: none;
  border-right: none;
}

.navbar-right {
  margin-right: -1px;
}

.pageName {
  color: white !important;
  vertical-align: middle;
  font-size: 20px;
  float: right;
}

.pageName:hover {
  color: #2a2c31 !important;
  font-weight: bold;
}

.pageName:active {
  color: #2a2c31 !important;
}
