.panel-heading {
  background: #878979;
  border: 1px solid #2a2c31 !important;
}

.panel {
  background: #e5e0d3;
  border: 1px solid #2a2c31;
}

.savedResults {
  background: #e5e0d3;
  border: 1px solid #2a2c31;
}

.formBtn {
  padding: 0;
  position: 'relative';
  left: '-3px';
  right: '10px';
}

h3 {
  margin-left: 15px;
}
