.loggedIn {
  margin-top: 100px;
}

.linkName {
  font-size: 30px;
  color: gray;
  margin-bottom: 100px;
}

.linkName:hover {
  color: #2a2c31 !important;
  font-weight: bold;
  text-decoration: none;
}
