.google {
  margin-bottom: 10px;
}

.google__img__wrap {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  width: 75px;
}

.google__img__wrap:hover .google__img__description {
  visibility: visible;
  opacity: 1;
  margin-left: 15px;
  margin-right: 10px;
}

.github {
  margin-bottom: 10px;
}

.github__img__wrap {
  position: relative;
  display: inline-block;
  margin-top: 20px;
  width: 75px;
}

.github__img__wrap:hover .github__img__description {
  visibility: visible;
  opacity: 1;
  margin-left: 15px;
}

.google__img__description {
  position: absolute;
  margin-left: 15px;
  margin-right: 10px;
  bottom: -45px;
  text-align: center;
  height: 35px;
  vertical-align: middle;
  color: #878979;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.github__img__description {
  position: absolute;
  margin-left: 15px;
  bottom: -45px;
  text-align: center;
  height: 35px;
  vertical-align: middle;
  color: #878979;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.welcome-text {
  text-align: center;
  color: #2a2c31;
   border: 2px solid #2a2c31;
  /* background: rgba(135, 137, 122, 0.5); */
  background: #e5e0d3;
  text-align: center;
  width: 75%;
  margin-bottom: 15px;
  margin: 0 auto;
  padding: 15px;
  margin-top: 50px;
}

@media (max-width: 768px) {
  .welcome-text {
    width: 100%;
    margin-top: 30px;
  }
}

.summary {
  margin-top: 25px !important;
  margin-bottom: 20px !important;
}

.login-selections {
  background: #e5e0d3;
  border: 2px solid #2a2c31;
  border-radius: 4px;
  padding: 20px;
  height: 175px;
  color: black;
  text-align: center;
  width: 30%;
  margin: 30px auto 0 auto;
}

@media (max-width: 992px) {
  .login-selections {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .login-selections {
    width: 80%;
  }
}

.login-choice {
  margin: 0px !important;
  color: #2a2c31;
}
