.panel-heading {
  background: #878979;
  border-bottom: 2px solid #2a2c31 !important;
}

.panel {
  background: #e5e0d3;
  border: 2px solid #2a2c31;
}

.savedResults {
  background: #e5e0d3;
  border: 2px solid #2a2c31;
}

.list-item {
  height: 67px;
}

.delBtn {
  background: red;
}

.editBtn {
  background: blue;
}


.title {
  font-weight: bold;
}

.noRes {
  margin-left: 15px;
  text-align: center;
}
